<form method="post" action="{{ path('app_publication_delete', {'id': publication.postId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.postId) }}">
    <button class="btn">Delete</button>
</form>
